*
{
    margin: 0;
    padding: 0;
}
.StatisticContainer
{
    background-color: #dde6dd;
    display: flex;
    justify-content: cetner;
    align-items: center;
    height: 100vh;
}
.Staticboard {
    display: flex;
    gap: 20px;
}
.StaticContent {
    background: #fff;
    flex: 1;
    border-radius: 30px;
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    margin-right: 20px;
    justify-content: center;
}
